{
    "semi": true,
    "singleQuote": true,
    "useTabs": true,
    "tabWidth": 2,
    "bracketSpacing": false,
    "arrowParens": "avoid",
    "trailingComma": "es5",
    "editor.formatOnSave": false,
    "[javascript]": {
        "editor.formatOnSave": false
    }
}